Repository ShashkovS/ejapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, ruff-format-toml, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      # Ruff Formatter for ALL Python files
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]

      # Ruff Linter for ALL Python files
      - id: ruff
        name: ruff-check
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]

      # It's also good practice to format the pyproject.toml
      - id: ruff-format-toml
        name: ruff-format-toml
        entry: ruff format
        language: system
        files: 'backend/pyproject.toml'

      # Prettier for frontend files
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/.*\.(js|ts|css|html|json|md)$
        require_serial: true

docs: add project documentation for contributors and agents
  AGENTS.md
  ARCHITECTURE.md
  README.md
Due: none

Refactor backend architecture
  backend/app/__init__.py
  backend/app/auth.py
  backend/app/config.py
  backend/app/database.py
  backend/app/items.py
  backend/app/schemas.py
  backend/main.py
  backend/tests/test_app.py
Due: ruff-format, ruff

feat: ejudge api docs
  backend/ejudge/doc.json
Due: none

feat: tool.setuptools
  backend/pyproject.toml
Due: ruff-format-toml

feat: install playwright in make setup
  Makefile
Due: none

Add ejudge API Pydantic models
  ARCHITECTURE.md
  backend/ejudge/__init__.py
  backend/ejudge/models.py
Due: ruff-format, ruff

Add ejudge client with typed mocks and tests
  ARCHITECTURE.md
  backend/ejudge/__init__.py
  backend/ejudge/client.py
  backend/ejudge/mocks.py
  backend/ejudge/models.py
  backend/tests/ejudge/test_client.py
Due: ruff-format, ruff

fix: tests fixed
  .gitignore
  .idea/codeStyles/codeStyleConfig.xml
  _copy_code.py
  backend/ejudge/ejudge_doc.json
  backend/ejudge/models.py
  backend/pyproject.toml
Due: ruff-format, ruff, ruff-format-toml

Refactor ejudge client to consume REST endpoints
  ARCHITECTURE.md
  backend/ejudge/client.py
  backend/ejudge/mocks.py
  backend/tests/ejudge/test_client.py
Due: ruff-format, ruff

Add ejudge integration tests
  README.md
  backend/tests/ejudge/test_integration.py
Due: ruff-format, ruff

feat: secrets for codex
  backend/pyproject.toml
  frontend/playwright.config.ts
  misc/restore_secrets.sh
  misc/save_secrets.sh
  misc/secret_vars.txt
Due: ruff-format-toml, prettier

feat: secrets for codex
  misc/restore_secrets.sh
  misc/save_secrets.sh
Due: none

Add helper for safe ejudge statement XML rendering
  ARCHITECTURE.md
  Makefile
  README.md
  backend/ejudge/__init__.py
  backend/ejudge/repl.py
  backend/ejudge/statements.py
  backend/tests/ejudge/test_repl.py
  backend/tests/ejudge/test_statements.py
Due: ruff-format, ruff

Add synchronous ejudge REPL helpers
  ARCHITECTURE.md
  Makefile
  README.md
  backend/ejudge/__init__.py
  backend/ejudge/repl.py
  backend/tests/ejudge/test_repl.py
Due: ruff-format, ruff

Add synchronous ejudge REPL helper
  Makefile
  README.md
  backend/ejudge/__init__.py
  backend/ejudge/repl.py
  backend/tests/ejudge/test_repl.py
Due: ruff-format, ruff

feat: ejudge repl
  .env.example
  backend/pyproject.toml
Due: ruff-format-toml

feat: ejudge repl
  backend/app/config.py
  backend/ejudge/repl.py
  backend/tests/ejudge/test_integration.py
Due: ruff-format, ruff

Add ejudge contest reports UI and API
  backend/app/__init__.py
  backend/app/contest_reports.py
  backend/app/deps.py
  backend/app/items.py
  backend/app/schemas.py
  backend/db.py
  backend/migrations/versions/3a4e96d4e7d3_add_contest_report_config.py
  backend/tests/test_contest_reports.py
  frontend/private/contestReports.ts
  frontend/private/index.html
  frontend/private/main.ts
  frontend/src/contestReports.test.ts
Due: ruff-format, ruff, prettier

Fix contest report form initialization
  frontend/private/main.ts
Due: prettier

Handle missing contest config table automatically
  backend/app/contest_reports.py
  backend/tests/test_contest_reports.py
Due: ruff-format, ruff

Ensure contest config table exists before queries
  backend/app/contest_reports.py
Due: ruff-format, ruff

Add ejudge reporting backend and dashboard
  ARCHITECTURE.md
  backend/app/config.py
  backend/app/items.py
  backend/app/report_config.py
  backend/app/report_samples.py
  backend/app/reporting.py
  backend/tests/test_reports.py
  frontend/package-lock.json
  frontend/package.json
  frontend/private/App.tsx
  frontend/private/api.ts
  frontend/private/index.html
  frontend/private/main.ts
  frontend/private/main.tsx
  frontend/private/report.css
  frontend/private/types.ts
  frontend/tests/e2e.spec.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: ruff-format, ruff, prettier
